<div class="timeline">
  <div class="event" *ngFor="let year of years; index as i" [ngStyle]="{'width': i < years.length-1 ? gap : 0}" [attr.data-date]="year"></div>
</div>

<!--<div class="skills">-->
  <!--<div class="skill" *ngFor="let skill of skills" [ngStyle]="{'width': getWidth(skill), 'margin-left': getMargin(skill)}">{{skill.name}}</div>-->
<!--</div>-->
<div class="skills2">
  <div class="skill-group" *ngFor="let skillGroup of groups">
    <div class="skill2" *ngFor="let skill of skillGroup" [ngStyle]="{'width': getWidth(skill), 'left': getMargin(skill)}">{{skill.name}}</div>
  </div>
</div>
