@import '~@angular/material/theming';

@mixin skill-timeline-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .timeline {
    border-bottom-color: map-get($foreground, base);
  }

  .event:after {
    background: map-get($foreground, base);
  }

  .skill {
    background-color: map-get($background, card);
  }
}
