@import '~@angular/material/theming';

$dot: 10px;
$line: 4px;

:host {
  height: 100%;
}

.skills {
  padding: 10px 50px 10px 60px;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  @include mat-elevation(1);
  line-height: 50px;
  text-align: center;
  margin: 5px 0;
}

.skills2 {
  padding: 10px 50px 10px 60px;
  position: relative;
}

.skill-group {
  position: relative;
  height: 60px;
}

.skill2 {
  @include mat-elevation(1);
  line-height: 50px;
  text-align: center;
  position: absolute;
}

.timeline {
  border-bottom-style: solid;
  border-bottom-width: $line;
  position: relative;
  padding: 100px 50px 0;
  list-style: none;
  text-align: left;
}

.event {
  display: inline-block;
  position: relative;
}

.event:before {
  height: 10px;
  content: attr(data-date);
  font-weight: 100;
  font-size: 0.9em;
  //transform: rotate(90deg);
  display: inline-block;
}

.event:after {
  display: block;
  left: 9px;
  bottom: -7px;
  border-radius: 50%;
  height: $dot;
  width: $dot;
  content: "";
  position: relative;
}
