<ul class="timeline">
  <li class="event" data-date="2012 - PRESENT">
    <div class="resume-block">
      <div class="resume-block__title">FPX LLC</div>
      <div class="resume-block__subtitle">Senior Software Engineer - UI Lead</div>
      <div class="resume-block__content">
        <p>Full stack development, with UI focused development last 4 years.</p>
        <p>Took part in all aspects of software projects including concept, design, implementation, and maintenance. Lead UI developer for last 3 years.</p>
        <p>Angular (v7) / AngularJS / Java / SQL Server / Material Design</p>
      </div>
    </div>
  </li>
  <li class="event" data-date="2009 - 2012">
    <div class="resume-block">
      <div class="resume-block__title">GE Aviation</div>
      <div class="resume-block__subtitle">Java Developer</div>
      <div class="resume-block__content">
        <p>Created and maintained a variety of diagnostic and reporting applications for the  Joint Strike Fighter program, and commercial division.
        </p>
        <p>Java / Spring / Hibernate / JMS / Oracle / JSP / Sencha</p>
      </div>
    </div>
  </li>
  <li class="event" data-date="2007 - 2009">
    <div class="resume-block">
      <div class="resume-block__title">IT Oxygen</div>
      <div class="resume-block__subtitle">Software Development Co-op</div>
      <div class="resume-block__content">
        <p>Worked on and released several web applications for non-profit clients, including Boy Scouts of America and The Nature Conservatory. Specialized in GIS applications (Graphical Information Systems).
        </p>
        <p>Java / Spring / Hibernate / JSP / Sencha / MySQL</p>
      </div>
    </div>
  </li>
  <li class="event" data-date="2005 - 2009">
    <div class="resume-block">
      <div class="resume-block__title">Michigan Technological University</div>
      <div class="resume-block__subtitle">BS in Computer Engineering</div>
      <div class="resume-block__subtitle">3.82 GPA</div>
    </div>
  </li>
</ul>
