---
import '../styles/main.css';
import About from '../../README.md';
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="icon" type="image/png" href="/favicon.svg"/>
		<title>Matthew Nienow - Software Engineer</title>
		<meta property="og:description" name="description" content="Portfolio of Matthew Nienow, Software Engineer"/>
		<meta property="og:title" content="Matthew Nienow - Software Engineer"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Advent Pro"/>
	</head>
	<body>
	<div class="title">Hi, I'm Matthew Nienow</div>
	<div class="subtitle">A software engineer from Duluth, MN</div>
	<About/>
	</body>
</html>

