:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.app-header {
  z-index: 1;
  flex: 0 0 auto;
  height: 60px;
  display: flex;
  //flex-direction: row;
  //justify-content: right;
  align-items: center;
  //position: relative;
}

.app-header__menus {
  margin-left: auto;
  margin-right: 20px;
}

//.app-header__logo {
//  max-height: 60%;
//  margin-right: auto;
//  margin-left: 20px;
//}
