<div class="app-header mat-elevation-z4">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/resume">Resume</button>
  <button mat-button routerLink="/timeline">Timeline</button>
  <button mat-button routerLink="/skills">Skills</button>
  <button mat-button>Blog</button>
  <!--<img class="app-header__logo" src="/assets/icon/nienow.png">-->
  <!--<fpx-theme-selection></fpx-theme-selection>-->

  <div class="app-header__menus">
    <theme-selection></theme-selection>
  </div>

</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>
