<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="resume-section">
        <div class="resume-section__title">Experience</div>
        <div class="resume-section__content">
          <div class="resume-block">
            <div class="resume-block__title-wrapper">
              <div class="resume-block__title">FPX LLC</div>
              <div class="resume-block__title-extra">AUG 2012 - PRESENT</div>
            </div>
            <div class="resume-block__subtitle">Senior Software Engineer / UI Lead</div>
            <div class="resume-block__content">
              <p>Full stack development, with UI focused development last 4 years. Took part in all aspects of software projects including concept, design, implementation, and maintenance. Lead UI developer for last 3 years.</p>
              <p>Angular (v7) / AngularJS / Java / SQL Server / Material Design</p>
            </div>
          </div>
          <div class="resume-block">
            <div class="resume-block__title">GE Aviation</div>
            <div class="resume-block__subtitle">Java Developer</div>
            <div class="resume-block__subtitle">SEPT 2009 - AUG 2012</div>
            <div class="resume-block__content">
              <p>Created and maintained a variety of diagnostic and reporting applications for the  Joint Strike Fighter program, and commercial division.
              </p>
              <p>Java / Spring / Hibernate / JMS / Oracle / JSP / Sencha</p>
            </div>
          </div>
          <div class="resume-block">
            <div class="resume-block__title">IT Oxygen</div>
            <div class="resume-block__subtitle">Software Development Co-op</div>
            <div class="resume-block__subtitle">SEPT 2007 - AUG 2009</div>
            <div class="resume-block__content">
              <p>Worked on and released several web applications for non-profit clients, including Boy Scouts of America and The Nature Conservatory. Specialized in GIS applications (Graphical Information Systems).
              </p>
              <p>Java / Spring / Hibernate / JSP / Sencha / MySQL</p>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-section">
        <div class="resume-section__title">Education</div>
        <div class="resume-section__content">
          <div class="resume-block">
            <div class="resume-block__title">Michigan Technological University</div>
            <div class="resume-block__subtitle">Computer Engineering</div>
            <div class="resume-block__subtitle">AUG 2005 - MAY 2009</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="resume-section">
        <div class="resume-section__title">Skills</div>
        <div class="resume-section__content">
          <div class="resume-block">
            <div class="resume-block__title">UI</div>
            <div class="resume-block__content">
              Angular (v7), AngularJS, Javascript, Typescript, NodeJS, Webpack, Jasmine, Mocha, SCSS, LESS, CSS
            </div>
          </div>
          <div class="resume-block">
            <div class="resume-block__title">Server</div>
            <div class="resume-block__content">
              Java, Spring, Hibernate, SQL (Oracle, SQL Server, MySQL), JSP, Jboss/Tomcat
            </div>
          </div>
          <div class="resume-block">
            <div class="resume-block__title">Other</div>
            <div class="resume-block__content">
              GIT, SVN, Eclipse, Webstorm, Agile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
