:host {
  display: block;
  padding-top: 30px;
}

.resume-section__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.resume-section {
  padding: 20px;
}

.resume-block__title {
  flex-grow: 1;
}

.resume-block__title-wrapper {
  display: flex;
  align-items: center;
}

.resume-block__title-extra {
  flex-grow: 0;
}

.resume-block__subtitle {
  font-style: italic;
  margin-bottom: 5px;
}
