@import '../../styles/themes/all-themes';
@import '../../styles/typography/all-typography';

.theme-sample {
	cursor: pointer;
}

.theme-sample__primary {
	height: 100%;
}

.theme-sample__background {
	margin: 5px 10px;
	height: 50px;
	padding: 10px 20px;
}

.theme-sample__selected-icon {
	display: block;
	text-align: center;
	line-height: 30px;
}

@mixin theme-sample($theme) {
	$primary: map-get($theme, primary);
	$background: map-get($theme, background);

	.theme-sample__primary {
		background-color: mat-color($primary);
	}

	.theme-sample__background {
		background-color: mat-color($background, background);
	}

	.theme-sample__selected-icon {
		color: mat-color($primary, default-contrast);
	}
}

.theme-sample.theme-selection-light-blue-amber {
	@include theme-sample($nienow-light-blue-amber-theme);
}

.theme-sample.theme-selection-green-orange {
	@include theme-sample($nienow-green-orange-theme);
}

.theme-sample.theme-selection-purple-lime {
	@include theme-sample($nienow-purple-lime-theme);
}

.theme-sample.theme-selection-red-grey {
	@include theme-sample($nienow-red-grey-theme);
}

@mixin typography-sample($config) {
	.typography-sample__label {
		font-size: mat-font-size($config, body-1);
	}
}

.typography-sample.typography-selection-large {
	@include typography-sample($nienow-large-typography);
}

.typography-sample.typography-selection-normal {
	@include typography-sample($nienow-normal-typography);
}

.typography-sample.typography-selection-small {
	@include typography-sample($nienow-small-typography);
}

.typography-sample.typography-selection-sans {
	@include typography-sample($nienow-sans-typography);
}
